<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light" *ngIf="isLoggedIn">
    <a class="navbar-brand" href=""><span class="text font-bold">Change<span class="text font-light">_world</span></span></a>
    <button class="navbar-toggler button-nav" (click)="ngOnInit()"type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    </button>
    <!-- <span><i class="bi bi-list"></i> -->

    

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" *ngIf="checkAccount()" >form</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/profile" routerLinkActive="active" >Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/donee" [hidden]="checkAccount()">Donee</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/donor" *ngIf="checkAccount()">Donor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/confirm" [hidden]="checkAccount()">Confirm</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/home">logout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/confirm" [hidden]="checkAccount()">view-donation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/confirm" [hidden]="checkAccount()">donations</a>
              </li>
      
            </ul>
          </div>
 

      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">You're leaving us</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to log out?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button type="button" class="btn  logout-btn" (click)="logout()" data-dismiss="modal" data-toggle="collapse"data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">Yes, I'm leaving</button>
            </div>
          </div>
        </div>
      </div>
  </nav>
      