
 <app-nav></app-nav>
 
<div class="container-fluid">

    <div class="addBut">
       <!-- Button trigger modal -->
     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addJob"> Add Donation</button>
     
     <!-- Modal -->
     <div class="modal fade" id="addDonation" tabindex="-1" role="dialog" aria-labelledby="addDonationLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="addJobLabel">Donation Post</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
           </div>
   
   
           <div class="modal-body">
             <!-- Modal Body to fill in posting form-->
   
             <!-- Post Inputs-->
             <form [formGroup]="DonationsForm" (ngSubmit)="onSubmit(DonationsForm)">
             <div class="donationsTit">
              
               Type
               <div class="donationsType">
                       <div class="typeInp"> <input type="text"
                        class="form-control" 
                        id="donationsType" 
                        formControlName="type" minlength="10">
                       </div>
                   <div class="userTit"> <i class="bi bi-laptop"></i> </div>
               </div>
          
            </div>
              
            <div class="donationAddress">
        
               Address
                   <div class="addressInp"> <input type="number"
                       class="form-control"
                       id="addressPrice"
                       formControlName="address">
                      
                       <div class="userTit"> <i class="bi bi-currency-dollar"></i> </div>
                   </div>  
               
           </div>
        
           <div class="descrTitl">
              
                   Description 
                   <div class="descrInf"> 
                       
                       <textarea name="postDescription"
                        id="donationDescription" 
                        class="form-control"
                        formControlName="description"
                        cols="30" rows="10" minlength="10" required > </textarea>
                   </div>
   
           </div>
            <!-- Post Inputs-->
           
   
   
           <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
             <button type="submit" class="btn btn-secondary" [disabled]="DonationsForm.invalid">Post</button>
           </div>
       </form>
         </div>
       </div>
     </div>
    </div>
    <!--Modal ends-->
       
       <div class="tablebeg ">
           
       <table class="table table-striped rounded">
           <thead class="thead-inverse">
               <tr>
                   
                   <th class="hed2">Donations Title</th>
                   <th class="hed3">Action</th>
                   <th class="hed3">Status</th>
                   
               </tr>
               </thead>
               <tbody>
                   <tr *ngFor="let donation of donations">
                       
                       <td class="desc" scope="row">{{donations.donations_type}}</td>
                       <td class="actionBut" scope="row"> 
                           <div class="actEdt"> <button type="button" class="edtBtn" (click)="setDetails(donations.donations_id,donations.donations_type,donations.donations_desc,donations.donations_address)" data-toggle="modal" data-target="#updateDonations">  <i class="bi-pencil-square"></i></button></div>   
                           <div class="actDel"> <button class="delBtn" (click)="deleteDonations(donations.donations_id)"> <i class="bi-trash-fill"> </i> </button> </div>
                       </td>
                       <td class="status" scope="row">
                         <select class="form-select form-select-sm" #status [disabled]="isRated" (change)="changeStatus(status.value, donations.donations_id,donations.dev_id)">
                           <option [value]="status">{{donations.status}}</option>
                           <option value="In Progress">In Progress</option>
                           <option value="Completed">Completed</option>
                         </select>
   
   
                       </td>
                      
                   </tr>
                  
               </tbody>
       </table>
       
       
       </div>
       
   
       </div>
   
       
   
   
       <!-- Modal -->
     <div class="modal fade" id="updateJob" tabindex="-2" role="dialog" aria-labelledby="addJobLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="addJobLabel">Update Post</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
           </div>
   
   
           <div class="modal-body">
             <!-- Modal Body to fill in posting form-->
   
             <!-- Post Inputs-->
             <form [formGroup]="updateDonationsForm" (ngSubmit)="onUpdate(updateDonationsForm)">
             <div class="postTit">
              
               Title 
               <div class="postTitle">
                       <div class="titleInp"> <input type="text"
                        class="form-control" 
                        id="postTitle" 
                        formControlName="post_title" minlength="10" value="{{donationsType}}">
                       </div>
                   <div class="userTit"> <i class="bi bi-laptop"></i> </div>
               </div>
          
            </div>
              
            <div class="postPrice">
        
               Price 
                   <div class="priceInp"> <input type="number"
                       class="form-control"
                       id="postPrice"
                       formControlName="post_price" value="{{donationsAddress}}">
                      
                       <div class="userTit"> <i class="bi bi-currency-dollar"></i> </div>
                   </div>  
               
           </div>
        
           <div class="descrTitl">
              
                   Description 
                   <div class="descrInf"> 
                       
                       <textarea name="postDescription"
                        id="postDescription" 
                        class="form-control"
                        formControlName="post_desc"
                        cols="30" rows="10" minlength="10" value="{{donationsDesc}}" required > </textarea>
                   </div>
   
           </div>
            <!-- Post Inputs-->
           
   
   
           <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
             <button type="submit" class="btn btn-secondary" [disabled]="updateDonationsForm.invalid">Post</button>
           </div>
       </form>
         </div>
       </div>
     </div>

    </div>
   
    <!--Modal ends-->
   
   
   
   
   
   
      