.form1{
    text-align: center;
    padding-top: 40px;
}
.container{
    background-color: #0D4862;
   // margin-top: 3rem;
    padding-bottom: 2rem;
}
button{
    color: black;
    background-color: white;

}
h4{
    color: white;
}
label{
    color: white;
}
.divBtn{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}