<app-nav class="z-40"></app-nav>

<div class="container">

    <div class="form1">
        <h4>Schedule suitable Time & Date for pickup</h4>
    </div>
    <form>
        <div class="mb-3">
          <label for="time" class="form-label">Time</label>
          <input type="time" class="form-control" id="time">
        </div>
    
        <div class="mb-3">
          <label for="date" class="form-label">Date</label>
          <input type="date" class="form-control" id="exampleInputPassword1">
        </div>
        <br>
    
        <div class="divBtn">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        
      </form>

</div>

