<!-- <app-nav></app-nav> -->

<!-- 
<div class="container-fluid">
    <h1>View Donation</h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-3 justify-content-center">
    <div class="col mb-4" >
        <div class="card text-center">
             <div class="card-body">
                <h5 class="card-title">donation type</h5>
               <p class="card-text desc">description</p>
               <p class="card-text address">address</p>
               <br>
               <button type="button" class="btn btn-primary btn1 " routerLink="/view-donation" >Read more</button>
             </div>
        </div> 
    </div>

      <br>
    </div> -->




    <!-- <div class="header">

        <div class="container-fluid job">
          <div class="type">
              {{donations_type}}
          </div> <br>
          <div class="details container-fluid">
              {{donations_desc}}
          </div>
    
        
          <div class="address">
              ${{donations_address}}
          </div>
          <br>
    
        <div class="col-md-12 text-center">
            <button class="btn btn-primary btn1" id="donationsButton" (click)="toggleshow()" (click)="toggleHide()" *ngIf="isHide"  type="submit">Click here here</button>
        </div>
       
        <form [FormGroup]="viewDonationsForm" (ngSubmit)="addDonations(viewDonationsForm)" class="formDonations" id="donationsForm" *ngIf="isShow">
            <hr>
            <div class="mb-3">
              <label for="donations_type" class="form-label">Type</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="donationType" formControlName="donationsType">
                <span><i class="bi bi-currency-dollar"></i></span>
              </div>
              
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Description</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" id="donationDesc" formControlName="donationsDesc" >
                  <span><i class="bi bi-currency-dollar"></i></span>
                </div>
                
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Address</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" id="donationsAddress" formControlName="donationsAddress">
                  <span><i class="bi bi-currency-dollar"></i></span>
                </div>
                
              </div>

          </form>
       </div> -->
       

   
      