.heading{
  font-weight:bold;
  color: #2F2E41;
}


.card{
  background-color: #0D4862;
  color: #fff;
  
}

.bi{
  
  margin: auto;
  width: 47px;
  height: 39px;
  font-size: 2rem;
  text-align: center;

  
  

}
.card-title{
  margin:auto;
  text-align: center;
  font-size: 13px;
}

.num{
  margin:auto;
  text-align: center;

}
