.double{
    margin-top: 60px;
    text-align: center;
    color: aliceblue;
}
p{
    text-align: center;
    color: aliceblue;
}
.image{
    margin-top: 50px;
}
.container-fluid{
background-color: #0D4862;
height: 100vh;
}
button{
    background-color: aliceblue;
    color: #0D4862;
    border-color: #0D4862;
}
h1{
    color: #E18E11;
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
}