<div class="container-fluid" >
    <div>
        <h1>CHANGE <br> WORLD</h1>
    </div>

    <div>
        <p>one man, may efforts</p>
    </div>
    <img src="../../../assets/Images/Screenshot 2022-11-24 at 10.05.35.png" class="mx-auto d-block image">
    <div class="double">
        <p>Wouldn’t it be great to be able to donate to
            people even if you had no cash with you?
           </p>
    
           <button type="button" class="btn btn-primary" routerLink="/register">Contribute now</button>
    </div>

</div>