<p>WELCOME TO DONOR PLATFORM</p>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-3 justify-content-center">
    <div class="col mb-4">

        <div class="card">
            <i class="bi bi-laptop"></i>
            <div class="card-body">
              <h5 class="card-title">Donations</h5>
              <h6 class="num">3</h6> 
            </div>
            
          </div>

    </div>
<button type="button" class="btn btn-primary" routerLink="/home">Logout</button>