<div class = "container">

  <div class = "heading">
    Donor Platform
  </div>
<br>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 justify-content-center">
    <div class="col">
      
        <div class="card mb-4 " >
            <i class="bi bi-laptop"></i>
            <div class="card-body">
              <h5 class="card-title">Donations completed</h5>
              <h6 class="num">{{completed.length}}</h6>
             
            </div>
            
          </div>

    </div>
    
    
    <div class="col">
        
        <div class="card mb-4" >
            <i class="bi bi-laptop"></i>
            <div class="card-body">
              <h5 class="card-title">donations in progress</h5>
              <h6 class="num">{{inProgress.length}}</h6>
             
            </div>
            
          </div>
    </div>
    
  </div>

  <!-- <ngx-spinner type="ball-scale-multiple"></ngx-spinner> -->


  
 
</div> 
  
