.heading{
    font-weight:bold;
    color: #2F2E41;
    padding-top: 2rem;
}


.card{
    background-color: #0D4862;
    color: #fff;
    //width: 136px;
    //height: 107px;

}

.bi{
    
    margin: auto;
    width: 47px;
    height: 39px;
    font-size: 2rem;
    text-align: center;
    
    

}
.card-title{
    margin:auto;
    font-size: 13px;
    text-align: center;
    
}

.num{
    margin:auto;
    text-align: center;

}