
<div class="page">
  <img src="../../../assets/Images/Screenshot 2022-11-24 at 10.05.35.png" class="mx-auto d-block">

  <!-- <div class="header container-fluid col-md-11 col-lg-8"> -->
    <div class="container">
      
        <div class="row">
            <div class="col-lg-8 header-div">
              <p>
                Account Login
              </p>
            </div>
        </div>

    </div>
<!-- </div> -->


<!-- <div class="container-fluid form-div col-md-11 col-lg-8"> -->

  <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
      <div class="mb-3 container-fluid mb-3 col-lg-8">
        <label for="uname" class="form-label">Username / Email</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="addon-wrapping" formControlName="username" required >
          <span><i class="bi bi-envelope-fill"></i></span> 
        </div>
      </div>

      
      <div class="mb-3 container-fluid mb-3 col-lg-8">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <div class="input-group mb-3">
          <input type="password" class="form-control" id="exampleInputPassword1" aria-describedby="passwordHelp" formControlName="password" required >
          <span><i class="bi bi-key-fill"></i></span> 
        </div>
      </div>
      <br>
      <div class="btn-div container-fluid mb-3 col-lg-8">
          <button id="button" type="submit" class="btn d-block">Login</button>
          <br>
        </div>
        <div class="links">
          <!-- <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></p> -->
          <p class="small fw-bold mt-2 pt-1 mb-0 text-center">Don't have an account? 
            <a href="#!" class="link" routerLink="/register" >Register</a></p>
          <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
        </div>
    </form>
  </div>
<!-- </div>
     -->