.main
{
    background-color:#0D4862;
}
.form{
    text-align: center;
    padding-top: 40px;
}
.container{
    background-color:#0D4862;
    //margin-top: 3rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    
}
label{
    color: white;
}
h3{
    color: white;
}
h6{
    color: white;
}
button{
    background-color: white;
    color: #0D4862;
}

.form-check{
    color: black;
}
