
<div class="container">

<div class="form">
   <h3> Donation Form </h3> 
</div>
<br>
<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Address</label>
      <textarea class="form-control" placeholder="collection address" id="floatingTextarea2" style="height: 80px"></textarea>
    </div>



<div class="radioBtn">

    <h6>Type of donation</h6>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="Donor">
        <label class="form-check-label" for="Donor">
           Food
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="Donor">
        <label class="form-check-label" for="Donor">
           Clothes
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="Donor">
        <label class="form-check-label" for="Donor">
            Books
        </label>
      </div>
      <div class="form-check">
        
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="Donne" checked>
        <label class="form-check-label" for="Donee">
          Others
        </label>
      </div>

</div>

<br>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" placeholder="please describe your donation." id="floatingTextarea2" style="height: 60px"></textarea>
    </div>

    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px"></textarea>
        <label for="floatingTextarea2">Comments</label>
      </div>

      <br>
    
    <button type="next" class="btn btn-primary">Next</button>
  </form>

</div>





