<div class="container-fluid">


       
    <div class="tablebeg">
        
    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr>
                <th class="hed2">Type <i class="bi bi-sort-up-alt"></i> </th>
                <th class="hed3">Action <i class="bi bi-sort-up-alt"></i> </th>
                <th class="hed4"><i class="bi bi-sort-up-alt"></i> Status</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                 <td class="idN" scope="row">#</td>
                 <td class="desc" scope="row"></td>
                 <td class="actionBut" scope="row"> 
                     <div class="actEdt">
                          <a class="btn btn-dark btn-sm " href=" "(click)="statusChangeC()" role="button">On my way</a>
                         </div>
                     <div class="actDel"> 
                         <a class="btn btn-dark btn-sm " href=" "(click)="statusChangeP()" role="button">No status</a>
                     </div>
                 </td>
                 <td class="jobStatus" scope="row">
                     <div class="prog" id="statusMessage">
                     {{statusMes}}
                      
                  </div>
                 </td>
                </tr>
            </tbody>
    </table>
    
    </div>
    

    </div>